version: "3.8"
services:
  clash-host:
    build: .
    container_name: clash_host
    ports:
      - "5000:5000"
    volumes:
      - ./data:/app/data
      - ./templates:/app/templates
      - ./static:/app/static
    restart: unless-stopped
